<h1>Log In</h1>

<% form_tag session_path do -%>

<fieldset>
	<p class="field">
		<%= label_tag 'login' %>
		<%= text_field_tag 'login', @login %>
	</p>

	<p class="field">
		<%= label_tag 'password' %>
		<%= password_field_tag 'password', nil %>
	</p>
	
</fieldset>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p class="actions">
<button type="submit">Sign me in</button>
</p>
<% end -%>
