<div class="hd calendar-hd">
	<p class="back"><%= link_to "&lsaquo; Projects", trackables_path %></p>
	<h1><%= @page_title = "Edit project" %></h1>
</div>

<%= flash_message %>

<div class="ws-frame">
	<div class="ws-main" id="ws-main">
		<%= render :partial => 'edit' %>
	</div>
	
	<div class="ws-sidebar">
		<% form_tag trackable_path(@trackable), :method => :delete do %>
		<%= submit_tag "Delete this project" %>
		<% end %>
	</div>
</div>

