<div class="hd">
	<h1>Projects</h1>
</div>

<%= flash_message %>

<div class="ws-frame">
	<div class="ws-main" id="ws-main">
		<%- @trackables.each do |trackable| -%>
		<% content_tag_for :div, trackable, :class => "#{cycle(*%w(x y))} #{'first' if trackable == @trackables.first} hover_container".strip.gsub(/ +/," ") do %>
			<% link_to(trackable_events_path(trackable), :class => "img hover_target") do %>
			<%= image_tag "icon-folder-50.png" %>
			<% end %>
		
			<div class="t-bd">
				<h3>
					<strong class="name hover_target"><%= link_to trackable, trackable_events_path(trackable) %></strong>
					<%= trackable_nickname(trackable) %>
				</h3>
				<h4><%= pluralize(trackable.events.count, "event") %></h4>
			</div>

			<p class="actions hover_target">
				<%= link_to "Edit", [:edit, trackable], :class => "edit" %>
			</p>
			
		<hr class="trackable-divider">
		<% end %>
		<% end %>
	</div>
	
	<div class="ws-sidebar">
		<p class="add-project actions">
			<%= link_to "Add a new project", new_trackable_path, :class => "add button" %>
		</p>
	</div>
</div>