<div class="hd calendar-hd">
	<p class="back"><%= link_to "&lsaquo; Projects" %></p>
	<h1>Create new project</h1>
</div>

<%= flash_message %>

<div class="bd">
<table class="frame"><tr valign="top">
	<td class="seven">
		<% form_for @trackable, :html => {:class => "bd"} do |f| %>
		
		<fieldset>
			<% field_wrapper @trackable, :name do %>
				<%= f.label :name %>
				<p><%= f.text_field :name %></p>
				<p class="info examples">Examples: Spring Cleaning, Imperial Widgets Contract, Fitness</p>
				<%= error_messages @trackable, :name %>
			<% end %>

			<% field_wrapper @trackable, :nickname do %>
				<%= f.label :nickname %>
				<p><%= f.text_field :nickname, :size => 12 %></p>
				<p class="info">This is a short (3-12 characters) keyword you can use to identify projects in your log entries. If you have a project called "Marathon Training", a good nickname might be &lsquo;marathon.&rsquo;</p>
				<p class="info">You can then associate an entry with this project by just starting it with <code>@marathon</code>.</p>
				
				<%= error_messages @trackable, :nickname %>
			<% end %>
		</fieldset>
		<p class="form-action">
			<button type="submit"><span>Add this project</span></button>
		</p>

		<% end %>
	</td>
	
	
	
	<td class="sidebar three-plus">
		<div class="guide">
			<h2>What is a project?</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	</td>

</tr></table>

