<% render :layout => "/layouts/events" do %>
	
	<div id="calendar_nav">
		<%= link_to "This #{time_frame}", params_for_today, :class => "nav current" %>
		<div class="center">
			<%= link_to "&lsaquo; Previous #{time_frame}", params_for_previous, :class => "nav previous" %>
			<%= link_to "Next #{time_frame} &rsaquo;", params_for_next, :class => "nav next" %>
			<strong><%= start_date.to_s(:long) %></strong>
		</div>
	</div>

	<%= render :partial => "view_by_date" %>
	
<% end %>