<%- pagination_links = capture do -%>
	<%= link_to "&lsaquo; Previous", params_for_previous, :class => "nav previous" %>
	<span class="sep">|</span>
	<%= link_to "This #{time_frame}", params_for_today, :class => "nav current" %>
	<span class="sep">|</span>
	<%= link_to "Next &rsaquo;", params_for_next, :class => "nav next" %>
<%- end -%>

<div class="hd calendar-hd clearfix">
	<h1><%= range_description %></h1>
	
	<div class="pagination">
		<%= link_to "&lsaquo; Previous", params_for_previous, :class => "nav previous" %>
		<%= link_to "Next &rsaquo;", params_for_next, :class => "nav next" %>
	</div>
	
	<p class="jump_to_current">
		<%= link_to "This #{time_frame}", params_for_today, :class => "nav current" %>
	</p>
</div>

<%= flash_message %>

<table class="calendar frame <%= time_frame %>" width="100%" cellspacing="0" border="0"><tr valign="top">
	<td class="seven calendar-main" rowspan="2">
		<% current_range.to_a.each do |date| %>
			<% events_for_day(date) do |events| %>

			<h3 class="date_header">
				<span><%= date.strftime("%A, %b %e") %></span>
			</h3>

			<ul class="events-list">
				<%= render :partial => '/events/list_item', :collection => events, :as => :event %>
				<li class="no-events">Nothing happened today</li>
			</ul>	

			<hr class="date-separator" style="clear:both">
			<% end %>
		<% end %>

		
	</td>
	
	<td class="gutter" rowspan="2">&nbsp;</td>
	
	<td class="three calendar-sidebar">
		<%- if @events.total_duration > 0 -%>
		<p class="total_logged">
			You logged
			<strong><%= duration_to_string @events.total_duration %></strong>
			this <%= time_frame %>
		</p>
		<%- end -%>
	</td>

</tr>
<tr>
	<td class="calendar-sidebar" valign="bottom">
		
	</td>
</tr>

</table>
<div class="pagination">
	<%= pagination_links %>
</div>

<script type="text/javascript" charset="utf-8">
	new HoverObserver('main')
	
	Event.observe(window, 'load', function(){
		$$('.event a.edit').each(function(link){
			new InlineEventEditor(link)
		})
	})
</script>