<%- pagination_links = capture do -%>
	<%= link_to "&lsaquo; Previous", params_for_previous, :class => "nav previous" %>
	<span class="sep">|</span>
	<%= link_to "This #{time_frame}", params_for_today, :class => "nav current" %>
	<span class="sep">|</span>
	<%= link_to "Next &rsaquo;", params_for_next, :class => "nav next" %>
<%- end -%>

<div class="hd calendar-hd cf">
	<div class="pagination">
		<h1><%= @page_title = "Diary for <strong>#{range_description}</strong>" %></h1>
		
		<%= link_to "&lsaquo; Previous", params_for_previous, :class => "nav previous" %>
		<%= link_to "Next &rsaquo;", params_for_next, :class => "nav next" %>
	</div>
	
	<p class="jump_to_current">
		<%= link_to "This #{time_frame}", params_for_today, :class => "nav current" %>
	</p>
</div>

<%= flash_message %>

<div class="ws-frame">
	<div class="ws-main" id="ws-main">
		
		<% current_range.to_a.each do |date| %>
			<% events_for_day(date) do |events| %>

			<h3 class="date-header">
				<%= date.strftime("<strong>%a</strong> <span>%b %e</span>") %>
			</h3>

			<ul class="events">
				<%= render :partial => '/events/list_item', :collection => events, :as => :event %>
				<li class="no-events">Nothing happened today</li>
			</ul>	

			<hr class="date-separator" style="clear:both">
			<% end %>
		<% end %>
		
		
		
	</div>
	<div class="ws-sidebar">
		
		&nbsp;
		
	</div>
	
</div>

<div class="pagination">
	<%= pagination_links %>
</div>

<script type="text/javascript" charset="utf-8">
	new HoverObserver('ws-main')
	Ticktock.zebraStripe("#ws-main .dated-events")
	
	
	
	Event.observe(window, 'load', function(){
		
		
		$$('.event').each(function(row){
			wrapper = new Element('div', {className:'ln'})
			wrapper.update(row.innerHTML)
			wrapper.insert({top:'<span class="trigger hover_target"> </span>'})
			row.update(wrapper)
		})
		
		$$('.event a.edit').each(function(link){
			link.observe('click', function(e){
				console.log(this.positionedOffset())
				e.stop()
			}.bind(link))
		})
	})
</script>