<% content_tag_for :div, event, :class => cycle("nil","alt") do %>
	<p class="date_and_time">
		<strong class="date"><%= event.date %></strong>
	</p>
	
	
	<%= content_tag :div, event.subject if event.subject %>

	<p class="body"><%= event.body %></p>
	<p class="hours<%= " blank" if event.hours == 0 %>"><%= pluralize(event.hours, "hour") %></p>
	<div class="actions">
		Posted
		<%= "#{time_ago_in_words(event.created_at)} ago" %>
		<%= "by #{event.user}" if event.user %>
		
		<%= link_to "Delete", event, :method => :delete %>
	</div>
<% end %>