<%- return_to ||= nil -%>
<% content_tag_for :li, event, :class => "hover_container hover_target" do %>
<div class="checkbox">
	<%= check_box_tag "events[]", event.id %>
</div>
<div class="meta">
	<div class="duration">
		<% if event.duration.to_i > 0 %>
		<span>Time spent:</span>
		<%= duration_to_string(event.duration.to_i) %>
		<% else %>
		&nbsp;
		<% end %>
	</div>
	<div class="actions hover_target">
		<%= link_to "#{event.starred ? "Un-star" : "Star"} this entry", event_path(:id => event, :event => {:starred => !event.starred}, :return_to => return_to), :method => :put, :class => "star #{event.starred ? "starred" : "unstarred"}" %>
		<%= link_to "Edit", [:edit, event], :class => "edit" %>
	</div>
</div>

<div class="body">
	<%= event.state %>
	<%= event_subject(event.subject, trackable_events_path(event.subject)) unless event.subject.nil? %>
	
	<%= event_message(event.body) %>
	
	<span class="date">
		on <%= event.date %>
	</span>
</div>

<div id="quick_editor_for_<%= dom_id(event) %>" class="inline-event-editor">
<% form_for event do |f| %>
<%= f.text_area :message, :rows => 1, :cols => 60 %>
<p class="save">
	<button type="submit">Save changes</button> or <a href="#" class="cancel">cancel</a>
</p>
<p class="delete">
	<%= link_to "Delete this entry", event, :method => :delete, :class => "delete" %>
</p>

<%- if return_to -%>
<input type="hidden" name="return_to" value="<%= return_to %>">
<%- else -%>
<input type="hidden" name="return_to" value="<%= request.request_uri %>">
<%- end -%>

<%- end -%>
</div>


<% end %>