<% content_tag_for :li, event, :class => "hover_container" do %>
<div class="duration">
	<%= duration_to_string(event.duration.to_i) %>&nbsp;
</div>

<div class="body">
	<%= event_subject(event.subject, trackable_events_path(event.subject)) unless event.subject.nil? %>
	
	<%= event_message(event.body) %>
	
	<span class="date">
		on <%= event.date %>
	</span>
</div>

<div class="actions hover_target">
	<%= link_to "Delete", event, :method => :delete, :class => "delete" %>
	<%= link_to "Edit", [:edit, event], :class => "edit" %>
</div>
<% end %>