<% current_range.to_a.each do |date| %>
<%- events_for_day = (@events_by_day[date] || []) -%>

<div class="two left">
	<h3 class="date_header <%= date.strftime("%a").downcase %>">
		<span class="weekday"><%= date.strftime("%a") %></span>
		<span class="day"><%= date.to_s(:short) %></span>
	</h3>
</div>

<div id="events_for_<%= date.strftime("%Y_%m_%d") %>" class="events_for_day <%= events_for_day.empty? ? "empty" : "nonempty" %> seven right">
<%= render :partial => 'list_item', :collection => events_for_day, :as => :event %>

<div class="no-events">
Nothing happened today
</div>
</div>
<hr class="date-separator" style="clear:both">
<% end %>