<div class="hd">
	<h1><%= @page_title = index_description %></h1>
</div>

<%= flash_message %>

<%- @events.group_by(&:date).each do |date, events| -%>
<% events_for_day date, events do %>
<h3 class="date-header">
	<span><%= date.strftime("%A, %b %e") %></span>
</h3>

<ul class="events">
	<%= render :partial => '/events/list_item', :collection => events, :as => :event %>
	<li class="no-events">Nothing happened today</li>
</ul>	


<hr class="date-separator" style="clear:both">
<% end %>
<%- end -%>

<%= will_paginate @events %>