<div class="hd calendar-hd cf">
	<h1><%= @page_title = "Timers" %></h1>
</div>

<div class="ws-frame">
	<div class="ws-main" id="ws-main">

		<div id="current_timer">
		<% if timer = current_timer %>
		<%= javascript_tag "var currentTimer = #{current_timer.to_json}" %>
		<div class="current">
			<h4>Current task</h4>
			<h2><%= current_timer.body %></h2>
			<p class="elapsed">&nbsp;</p>
	
			<div class="actions">
				<form action="<%= sleep_timer_path(timer) %>" method="post">
				<button>Pause</button>
				</form>
		
				<form action="<%= finish_timer_path(timer) %>" method="post" onsubmit="return confirm('Are you sure you want to finish this timer?')">
				<button>Finish</button>
				</form>
			</div>
		</div>
		
		<div class="punches">
		<% current_timer.punches.each do |punch| %>
		<%= debug punch %>
		<% end %>
		</div>
		
		<% elsif @paused_timers.empty? %>
		<p class="no-current">No currently running timers. You can switch to one of your paused tasks listed at right, or create a new timer.</p>
		<% else %>
		<p class="no-current">No currently running timer</p>
		<% end %>
		</div>

		
		
	</div>
	
	<div class="ws-sidebar">
		
		
		
		
		<div id="inactive_timers">
		<% if @paused_timers.any? %>
		<h2>Inactive tasks</h2>
		<% @paused_timers.each do |timer| %>
		<div id="timer_<%= timer %>" class="timer">
			<h4><%= timer.body %></h4>
			<p class="elapsed"><%= duration_to_string timer.elapsed, "%H:%M:%S" %></p>
			<div class="actions">
				<form action="<%= wake_timer_path(timer) %>" method="post">
				<button>Switch To</button>
				</form>
		
				<form action="<%= finish_timer_path(timer) %>" method="post" onsubmit="return confirm('Are you sure you want to finish this timer?')">
				<button>Finish</button>
				</form>
			</div>
		</div>
		<% end %>
		</div>
		<% end %>
	</div>
</div>

<script type="text/javascript" charset="utf-8">

try {
	if($('current_timer').down('.current')){
		elapsedTime = Number(currentTimer.timer.elapsed);
		
		updateTimer = function(){
			elapsedTime += 1

			units = Ticktock.timeToUnits(elapsedTime)

			timeString = "#{hours}:#{minutes}:#{seconds}".interpolate({
				hours:   units.hours.toPaddedString(2),
				minutes: units.minutes.toPaddedString(2),
				seconds: units.seconds.toPaddedString(2)
			})

			$('current_timer').down('.elapsed').update(timeString)
		}

		setInterval(updateTimer,1000)
	}
}
catch(error){
	console.log(error)
}
</script>