<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= page_title %></title>
	<%= sprockets_include_tag %>
	<%= stylesheet_link_tag "default" %>
	<%= @content_for_head %>
</head>

<% content_tag :body, :id => body_id, :class => body_classes.join(" ") do %>
	
<div id="header"><div class="wrap clearfix">
	<h1><%= current_account.name %></h1>
	
	<p class="current_user">
		<%= current_user %>
		(<%= link_to "Sign out", logout_path %>)
	</p>
</div></div>

<div id="container">
<div id="main" class="workspace wrap">

<table id="stretcher">
	<tr valign="top">
		
		<td id="sidebar" class="sidebar">
			<ul class="nav" id="add-event">
				<li class="big"><%= link_to_unless (section_name == "new_event"), "Log stuff", new_event_path %></li>
				<li class="quick"><a href="javascript:void%200">Quick Add</a></li>
			</ul>
			<hr>
			<ul class="nav" id="main-navigation">
				<li>
					<%= link_to_unless (section_name == "events"), "Browse my log", calendar_path %>
				</li>
				<li><%= link_to_unless (section_name == "trackables"), "Projects", trackables_path %>	
				</li>
			</ul>
			<hr>
		</td>
		
		<td id="workspace">
			<div class="workspace-content">
				<%= yield %>
			</div>
		</td>
		
	</tr>
</table>

<div id="footer">
	<div class="logo">
		<h4>TickTock</h4>
	</div>
	<div class="copyright">
		<p>&copy;2009 Practical Creative &amp; Code</p>
	</div>
</div>

</div>
</div>
<!-- <script type="text/javascript" charset="utf-8">
	QuickEntry = {
		open:function(){
			$('quick-entry').show()
			
			Overlay.invoke({
				className:'green',
				onClick:function(){
					$('quick-entry').hide()
				}
			})
		}
	}


	Event.observe(window, 'load', function(){
		$('add-event').down('.quick a').observe('click', function(e){
			QuickEntry.open()
			e.stop()
		})
	})
</script> -->

<% end %>
</html>