<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title><%= page_title %></title>
	<%= sprockets_include_tag %>
	<%= stylesheet_link_tag "default2" %>
	<%= @content_for_head %>
	<script type="text/javascript" charset="utf-8">
		Event.observe(window,'load',function(){
			$$('.wr').invoke('setStyle','width:100%')
			FrameMaker.setup()			
		})
	</script>
</head>

<% content_tag :body, :id => body_id, :class => body_classes.join(" ") do %>
	
<div id="header">
<div class="wr">
	<div class="wr-c cf">
		<div class="left">
			<h1><%= current_account.name %></h1>
		</div>
		
		<div class="right">
			<%= link_to "My info", "javascript:void%200" %> |
			<%= link_to "Sign out", logout_path, :class => "logout" %> |
			<a href="http://support.ticktockapp.com/" target="_blank" class="help">Help</a>
		</div>

	</div>
</div>
</div>

<div class="wr">
	<div class="wr-c cf">
		<div id="left-sidebar">
			
			<div class="nav">
				<h2><a href="/">TickTock</a></h2>
				<ul>
					<%= link_to_section "home", "Welcome", root_path %>
					<%= link_to_section "events", "Diary", calendar_path %>
					<%= link_to_section "reports" %>
					<%= link_to_section 'trackables', "Projects" %>
					<li>
						<%= link_to_unless (section_name == "tags"), "Tags", nil %>	
					</li>
				</ul>
			</div>
			
			
		</div>

		<div id="workspace" class="cf">
			<%= yield %>
		</div>
	</div>
</div>

<div class="wr">
	<div id="footer" class="wr-c">
		<div class="logo left">
			<h4>TickTock</h4>
		</div>
		<div class="copyright right">
			<p>&copy;2009 Practical Creative &amp; Code</p>
		</div>
	</div>
</div>


<%= render :partial => "/layouts/google_analytics" if Rails.env.production? %>
<% end %>
</html>