<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Ticktockapp</title>
	<%= javascript_include_tag :defaults, "calendar_date", "calendar_date_select" %>
	<%= stylesheet_link_tag "default" %>
</head>
<body>
	
<div id="container">
	
<div id="quick_entry">
	<% form_for :event, :html => {:id => "new_event", :class => "on_index"} do |f| %>

	<p class="actions">
		<button type="submit">Create</button>
	</p>

	<fieldset id="basics">
		<p class="body">
			<%= f.label :body, "What are you doing?" %>
			<%= f.text_area :body, :cols => 60, :rows => 4 %>
		</p>
	</fieldset>
	
	<fieldset id="options">
		<p class="field datepicker">
			<%= f.label :date %>
			<%# f.date_select :date %>
			<%= f.text_field :date, :size => 12 %>
		</p>

		<p class="field">
			<%= f.label :hours %>
			<%= f.text_field :hours, :size => 5 %>
		</p>
	</fieldset>

	<% end %>

	<script type="text/javascript" charset="utf-8">

	new TicktockDateSelect('event_date')

	$('new_event').observe('submit', function(e){
		new Ajax.Request('/events', {
			asynchronous: true,
			method: 'post',
			parameters: Form.serialize('new_event'),

			onSuccess: function(response, jsonObj){
				eventDate = CalendarDate.parse(jsonObj.event.date)

				dateContainerId = 'events_for_' + eventDate.toString().gsub(/-/,"_")

				console.log("Received a thingy")
				console.log("Date was " + dateContainerId)
				console.log("Still working")

				if($(dateContainerId)){
					console.log("Container is on page, should insert")
					console.log(response.responseText)

					$(dateContainerId).insert({top:response.responseText})
				}
				else {
					console.log("No container, should create or somehow indicate that response succeeded")
				}

				$('new_event').reset()
			},

			onFailure: function(response){
				alert("FAILED!")
			}

		})
		e.stop()
	})
	</script>
</div>
	
<div id="main">
	<%= yield :layout %>
</div>
</div>

</body>
</html>
